<p class="footer-copyright">&copy; {{date format="YYYY"}} {{{block "copyright-owner"}}}.</p>
<p class="footer-info">The <a href="http://git.seanclayton.me/sean/rabit">rabit theme</a> was made with <core-icon class="love" icon="favorite"></core-icon> by <a href="https://twitter.com/_seanclayton">Sean Clayton</a>.</p>
