<p class="footer-copyright">&copy; {{date format="YYYY"}} {{@blog.title}}.</p>
<p>The <a href="http://skulbuny.com/sean/rabit">rabit theme</a> and this blog is written with <i class="fa fa-heart love"></i> by Sean Clayton.</p>
