<footer class="footer">
  <div class="container">
    <a class="button-square button-jump-top js-jump-top" href="#"><i class="fa fa-angle-up"></i></a>
    {{> footer-text}}
  </div>
</footer>

{{! Ghost outputs important scripts and data with this tag }}
{{!-- {{ghost_foot}} --}}

{{! All other scripts }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script data-instant-track type="text/javascript" src="{{asset "js/rabit.min.js"}}"></script>
{{> google-fonts}}
{{> ga}}
{{> prettyprint}}
<link prefetch href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
