<p class="footer-copyright">&copy; {{date format="YYYY"}} {{@blog.title}}.</p>
<p class="footer-info">The <a href="http://git.seanclayton.me/sean/rabit">rabit theme</a> and this blog is written with <i class="fa fa-heart love"></i> by <a href="https://twitter.com/_seanclayton">Sean Clayton</a>.</p>
