<div class="site-title-wrapper">
  {{#if @blog.logo}}
    <a class="site-logo js-ajax-link" title="{{@blog.title}}" href="{{@blog.url}}"><img class="blog-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
  {{/if}}
</div>

{{!-- <ul class="site-nav">
  {{> nav}}
</ul> --}}
