<!DOCTYPE html>
<html>
<head>
  {{> head}}
</head>
<body class="{{body_class}}">

  <div id="wrapper">
    <header class="site-header">
      <div class="container">
        {{> header}}
      </div>
    </header>

    <div id="ajax-container">
      {{{body}}}
    </div>
  </div>

  {{> footer}}
</body>
</html>
