{{!< default}}

<a href="{{@blog.url}}"><paper-fab mini class="rabit fab" icon="list"></paper-fab></a>

{{#post}}
<div class="{{#unless image}}container{{/unless}}">
{{> post-content}}
</div>
{{/post}}
