{{!< default}}

{{#post}}
<div class="{{#unless image}}container{{/unless}}">
{{> post-content}}
</div>
{{/post}}

<a href="{{@blog.url}}"><paper-fab mini class="rabit fab" icon="view-list"></paper-fab></a>
