html, body { height: 100%; }

body {
  background: $background;
  color: #424242;
  font-family: $copy-font, arial, sans-serif;
  font-size: modular-scale($base-font-size, .5, $major-third);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $special-font, "Helvetica Neue Condensed", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 33px;
  text-transform: none;
}

h1 { font-size: modular-scale($base-font-size, 2.75, $major-third); font-weight: 400; }
h2 { font-size: modular-scale($base-font-size, 2.5, $major-third); font-weight: 400; }
h3 { font-size: modular-scale($base-font-size, 2.25, $major-third); font-weight: 400; margin-bottom: 20px; }
h4 { font-size: modular-scale($base-font-size, 2.0, $major-third); margin-bottom: 18px; }
h5 { font-size: modular-scale($base-font-size, 1.75, $major-third); margin-bottom: 15px; }
h6 { font-size: modular-scale($base-font-size, 1.5, $major-third); margin-bottom: 12px; }

p {
  line-height: 1.8;
  margin: 0 0 30px;
}

a {
  color: $primary;
  text-decoration: none;
}

ul, ol {
  list-style-position: inside;
  line-height: 1.8;
  margin: 0 0 40px;
  padding: 0;

  ul, ol { margin: 10px 0 0 20px; }

  li {
    margin: 0 0 10px;

    &:last-of-type { margin-bottom: 0; }
  }
}

blockquote {
  border-left: 1px dotted $secondary;
  margin: 40px 0;
  padding: 5px 30px;

  p {
    color: #AEADAD;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%;
  }
}

img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%;
}

pre {
  background: #F1F0EA;
  border: 1px solid #DDDBCC;
  border-radius: 3px;
  margin: 0 0 40px;
  padding: 15px 20px;
}

hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0;
}

table {
  margin-bottom:40px;
  width: 100%;

  tbody > tr:nth-child(odd) > td,
  tbody > tr:nth-child(odd) > th {
    background-color: #f7f7f3;
  }

  th {
    padding: 0 10px 10px;
    text-align: left;
  }

  td { padding: 10px; }

  tr { border-bottom: 1px dotted #AEADAD; }
}

::selection {
  background: #FFF5B8;
  color: #000;
  display: block;
}

::-moz-selection {
  background: #FFF5B8;
  color: #000;
  display: block;
}

.fluid-width-video-wrapper { margin-bottom: 40px; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.clearfix {
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
