.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 889px;
}

#blog {
  @include flex(1);
}

.button {
  background: $secondary;
  border: none;
  border-radius: 3px;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase;

  &:hover { background: $primary; }
}

.button-square {
  background: $primary;
  color: #FFF;
  float: left;
  margin: 0 0 0 10px;

  &:hover { background: $secondary; }
}

.love {
  $color: $innocent;
  @include filter(drop-shadow(0 0 5px $color));
  color: $color;
  height: 1.5em;
  width: 1.5em;
}

.button-social {
  display: block;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  font-size: 1em;
  background: $primary;
  color: white;
  @include transition(140ms ease all);

  &:hover {
    background: $blue;
  }
}

.return-button {
  color: $wite;
  background: $blak;
  font-size: 1.25em;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: .75rem 1.5rem;
  box-shadow: 0 0 1em rgba(black, .25);
}

.rabit {

  &.fab {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: $primary;
    z-index: 1000;

    &::shadow {
      #ripple {
        color: white;
      }
      #icon {
        @include filter(drop-shadow(0 1px 0 rgba(black, .25)));
      }
    }
  }

}
