.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 889px;
}

#wrapper {
  height: auto;
    min-height: 100%;
  /* This must be the same as the height of the footer */
  margin-bottom: -($footer-height);

  &:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 265px;
  }
}

.button {
  background: $secondary;
  border: none;
  border-radius: 3px;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase;

  &:hover { background: $primary; }
}

.button-square {
  background: $primary;
  color: #FFF;
  float: left;
  margin: 0 0 0 10px;

  &:hover { background: $secondary; }
}

.love {
  $color: $innocent;
  color: $color;
  text-shadow: 0 0 5px $color;
}

.button-social {
  padding: .25em;
  font-size: 1em;
  background: $primary;
  color: $secondary;
  @include transition(140ms ease all);

  &:hover {
    background: $blue;
    color: white;
  }
}
