.footer {
  box-sizing: border-box;
  background: $secondary;
  color: white;
  text-shadow: 0 1px 0 rgba(black, .25);
  font-size: .7em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 1rem 0;

  .site-title-wrapper { margin: 80px auto 35px; }

  .site-title a:hover,
  .button-square:hover {
    background: #121212;
  }

  .button-jump-top {
    display: inline-block;
    float: none;
    font-size: 20px;
    margin: 0 0 1rem 0;
    padding: .5rem 1rem;
    @include transition(160ms ease all);

    &:hover {
      background: $wite;
      color: $primary;
      text-shadow: 0 1px 0 rgba(white, 1);
    }
  }

  .button-social {
    margin: 1em auto 0 auto;
  }
}

.footer-copyright {
  margin: 0;
}

.footer-info {
  margin: 0;
}
