.blog-logo {
  padding: 0 0 1rem 0;
}

.site-header {
  padding: 0 0 0;
  overflow: auto;
  text-align: center;
  text-transform: uppercase;
}

.index-title {
  font-size: 4em;
  font-weight: 100;
  font-style: italic;
}

.index-title, .post-title, .page-title {
  a {
    color: $secondary;
  }
}

.blog-description {
  color: #AEADAD;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

.site-title-wrapper {
  display: table;
  margin: 0 auto;
}

.site-title {
  float: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;

  a {
    float: left;
    background: $primary;
    color: #FEFEFE;
    padding: 5px 10px 6px;

    &:hover { background: $secondary; }
  }
}
.site-logo {
  display: block;

  img {
    $size: 96px;
    width: $size;
    margin: 0 auto;
  }
}

.site-nav {
  list-style: none;
  margin: 28px 0 10px;
}

.site-nav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px;

  a:hover { color: #424242; }
}
