.post-list {
  list-style: none;
  margin: 40px 80px 0;
}

.post-stub {
  @include transition(240ms ease all);
  line-height: 1;
  margin: 0;
  position: relative;

  &:first-child { padding-top: 0; }

  a {
    @include transition(240ms ease all);
    background: rgba(white, .5);
    display: block;
    color: $blak;
    padding: 2.5rem 1rem;

    &:hover {
      padding: 2.5rem 1.5rem;
      background: white;
      color: $primary;

      .post-stub-tag { background: $primary; }
    }
  }

  &.has-image {
    background-size: cover;
    background-size: 110%;
    background-position: center center;

    &:hover {
      background-size: 100%
    }

    a * {
      color: white;
      text-shadow: 0 1px 0 black;
    }
    a {
      background-color: rgba(black, .5);

      &:hover {
        padding: 6rem 1rem;
        background-color: rgba(black, .8);
      }
    }
  }
}

.post-stub-tag {
  background: $secondary;
  border-radius: 3px;
  color: #FFF;
  float: right;
  font-size: 10px;
  margin: 7px 0 0;
  padding: 0 5px;
  text-transform: uppercase;
}

.post-stub-title {
  display: inline-block;
  margin: 0;
  text-transform: none;
}

.post-stub-date {
  display: inline-block;
  font-weight: 300;

  &:before { content: "/ "; }
}

.next-posts-link a,
.previous-posts-link a {
  display: block;
  padding: 8px 11px;
}
