.post-navigation {
  display: table;
  margin: 3rem auto;
}

.pagination {
  .nav-button {
    text-align: center;
    width: 1.5rem;
    font-size: 1.5rem;
    line-height: 1;
  }

  .disabled {
    background-color: $lightGray;
    color: $darkGray;
  }
}
